@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.cardText{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 18px;
    padding: 2rem;
}
.containerCardh2{
    width: 50%;
}
.cardText h2{
    color: rgba(0, 68, 255, 0.808);
    font-size: 25px;
    text-align: center;

}
.cardText p{
    text-align: left;
}
.cardText a{
    text-decoration: none;
}
.cardText ul {
    width: 80%;
}
.cardText ul li {
    font-family: 'Roboto', sans-serif;
    gap: 1.5rem;
    font-size: 18px;
}
.containerCard{
    display: flex;
    padding: 3rem;
    gap: 1.5rem;
}
.containerCardText{
    width: 50%;
    background: rgba( 163, 159, 159, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2rem;


}

@media(max-width: 1015px){
    .containerCard{
        flex-direction: column;
    }
    .cardText{
        width: 100%;
        font-size: 20px;
        flex-direction: column;
    }
    .cardText ul {
        width: 100%;
    }
    .containerCardText{
        width: 100%;
    }
}