.Movimientos{
    align-items: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.1);
    margin-top: 6rem;
    height: 500px;
    width: 67vw;
}
.li{
    margin-top: 3px;
}
