@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

select {
    height: 30px;
    width: 60px;
}
.containerConvertirDe{
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 2rem;
    align-items: center;
}
#Cantidad{
    width: 80px;
    height: 30px;
    text-decoration: black;
} 
