@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.ConvertirA{
    display:block;
    text-align: -webkit-center;
    color: black;
    font-family: 'Roboto', sans-serif;
    gap: 2rem;
} 